<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729951558960-nog3566ke6fi6kdqccgeb32pf6ocs4lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729951558960-nog3566ke6fi6kdqccgeb32pf6ocs4lg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>729951558960-5qsesbeq4m95t20qrfmbl4s5u2gkc52u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAf_h_MjEAPFUNBhQv1G8fucxc3yAKJ4UM</string>
	<key>GCM_SENDER_ID</key>
	<string>729951558960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cloneflutter</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-c93e6</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-c93e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729951558960:ios:489af0f0f661dc7b44fcf5</string>
</dict>
</plist>